<% if @photos_data.size.zero? %>
  No photos found for '<%= @search_text %>' :(
<% else %>
  <i>Results for '<%= @search_text %>'</i>
  <div class="ui relaxed horizontal list">
    <% @photos_data.each do |photo| %>
      <div class="item">
        <div class="content">
          <%= photo['title'] %>
        </div>
        <img src="<%= photo['url_s']%>" alt="<%= photo['title']%>" class="ui image">
      </div>
    <% end %>
  </div>
<% end %>
