<!DOCTYPE html>
<html>
  <head>
    <title>FlickrSearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to "flickr", root_path %></h1>
    <% flash.each do |key, value| %>
      <div class="message <%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
