<!DOCTYPE html>
<html>
  <head>
    <title>FlickrSearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui inverted fixed menu">
      <div class="ui container">
        <%= link_to root_path, class: "item" do %>
          Flickr Example
        <% end %>
        <div class="right item">
          <div class="ui input">
            <%= form_tag search_flickr_path, method: :get, id: "search_photos" do %>
              <%= text_field_tag :text, params[:text], { placeholder: "Search photos" } %>
              <%= submit_tag "Submit", class: "ui primary button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="ui main container" style="margin-top:40px">
      <div class="ui fluid container">
        <% flash.each do |_, value| %>
        <div class="ui negative message">
          <i class="close icon"></i>
          <div class="header">
            <%= value %>
          </div>
        </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
